/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    padding:0;
}

.formDiv{
    width: 100%;
    display:flex;
    flex-direction: column;
}

.formDiv label, input, button{
    margin:5px;
    padding:5px;
}

.formDiv label{
    font-size: 1.3em;
    font-weight: bolder;
}